.offer {
    background: url(../images/pattern.png);
    padding: 60px 0 100px 0;
}

.offer__hero {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url(../images/flowers.jpg);
    background-position: center;
    background-size: cover;

    .hero__header {
        padding: 20px 150px;
        font-size: 50px;
        font-family: $heroFont;
        font-weight: 100;
        letter-spacing: 2px;
        color: white;
        border: 2px solid white;
    }
}

.offerContainer {
    display: flex;
}

.offer__items {
    display: flex;
    flex-direction: column;
    width: 500px;

    .offer__item {

        padding: 20px 0;

        .offer__header {
            margin-bottom: 20px;
            font-weight: 400;
            font-family: $headerFont;
            color: $mainColor;
            font-size: 24px;
        }

        p {
            margin-bottom: 20px;
            font-family: $contentFont;
        }
    }
}

.offer__images {
    width: 480px;
    margin-left: 20px;

    img {
        max-height: 600px;
        margin-bottom: 40px;
        width: 100%;
    }
}

.contact__container--offer {
    box-shadow: none;
}

@media(max-width:1000px) {
    .offerContainer {
        display: flex;
        flex-direction: column;
    }

    .offer__items {
        width: 100%;
        padding: 0px 16px;
    }

    .offer__images {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        margin-left: 0;


        img {
            width: 100%;
        }
    }
}

@media(max-width:550px) {
    .offer__hero {
        margin-bottom: 50px;


        .hero__header {
            padding: 20px 50px;

        }
    }

    .offer__images {
        width: 100%;
        margin-bottom: 20px;
    }
}